<!doctype html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dashboard</title>
  {{ assetBag }}
  {{ assetBag.add("/nucleus/asset/dashboard/vendor/bootstrap/css/bootstrap.min.css") }}
  {{ assetBag.add("/nucleus/asset/dashboard/vendor/bootstrap/css/bootstrap-responsive.min.css") }}
  {{ assetBag.add("/nucleus/asset/dashboard/app.css") }}
  {{ assetBag.add("/nucleus/asset/dashboard/vendor/jquery-1.10.1.min.js") }}
  {{ assetBag.add("/nucleus/asset/dashboard/vendor/jqueryui/js/jquery-ui-1.10.3.custom.min.js") }}
  {{ assetBag.add("/nucleus/asset/dashboard/vendor/json2.js") }}
  {{ assetBag.add("/nucleus/asset/dashboard/vendor/underscore-min.js") }}
  {{ assetBag.add("/nucleus/asset/dashboard/vendor/backbone-min.js") }}
  {{ assetBag.add("/nucleus/asset/dashboard/vendor/bootstrap/js/bootstrap.min.js") }}
  {{ assetBag.add("/nucleus/asset/dashboard/app.js") }}
  <script type="text/javascript">
    $(function() {
    Dashboard.start({{ result.configuration|json_encode|raw }});
    });
  </script>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <a class="brand" href="#">{{ result.configuration.title }}</a>
    </div>
  </div>

  <div id="submenu"></div>

  <div id="main"></div>

  <script type="text/template" id="toolbar-tpl">
    <div class="btn-group">
    <% _.each(buttons, function(btn) { %>
      <% if (btn.name != current_action) { %>
        <a href="<%= base_url + btn.controller + '/' + btn.name %>" data-controller="<%= btn.controller %>" data-action="<%= btn.name %>" class="btn"><i class="icon-<%= btn.icon %>"></i> <%= btn.title %></a>
      <% } %>
    <% }); %>
    </div>
  </script>

  <script type="text/template" id="tabs-tpl">
    <div class="tabbable tabs-right">
      <ul class="nav nav-tabs">
        <% _.each(tabs, function(title, id) { %>
          <li><a href="#tab-<%= id %>" <% if (id > 0) print('data-related="' + title + '"'); %> data-toggle="tab"><%= title %></a></li>
        <% }) %>
      </ul>
      <div class="tab-content">
        <% _.each(tabs, function(title, id) { %>
          <div class="tab-pane active" id="tab-<%= id %>"></div>
        <% }) %>
      </div>
    </div>
  </script>

  <script type="text/template" id="form-action-tpl">
    <% _.each(fields, function(field) { %>
      <% if (!_.contains(hidden_fields, field.name)) { %>
        <div class="control-group">
          <label class="control-label" for="<%= field.name %>"><%= field.title %></label>
          <div class="controls">
            <% if (force_edit || _.contains(field.visibility, 'edit')) { %>
              <% if (field.value_controller && !field.is_array) { %>
                <select name="<%= field.name %>" data-type="<%= field.formated_type %>" data-value="<%= values[field.name] || field.defaultValue %>"
                  data-url="/<%= field.value_controller.controller %>/listAll?__offset=-1" data-related='<%= JSON.stringify(field.related_model) %>' class="related">
                </select>
              <% } else if (field.field_type == 'textarea') { %>
                <textarea name="<%= field.name %>" data-type="<%= field.formated_type %>" class="input-xlarge"><%= values[field.name] || field.defaultValue %></textarea>
              <% } else if (field.field_type == 'checkbox' || field.field_type == 'radio') { %>
                <input type="<%= field.field_type %>" name="<%= field.name %>" value="1"
                  data-type="<%= field.formated_type %>" <% if ((typeof(values[field.name]) != 'undefined' && values[field.name]) || field.defaultValue === true) print("checked"); %>>
              <% } else { %>
                <input type="<%= field.field_type %>" name="<%= field.name %>" value="<%= values[field.name] || field.defaultValue %>"
                  data-type="<%= field.formated_type %>" class="input-xlarge">
              <% } %>
            <% } else { %>
              <% if (field.identifier && typeof(values[field.name]) != 'undefined') { %>
                <input type="hidden" name="<%= field.name %>" value="<%= values[field.name] %>">
              <% } %>
              <%= values[field.name] %>
            <% } %>
          </div>
        </div>
      <% } else { %>
        <input type="hidden" name="<%= field.name %>" value="<%= values[field.name] %>">
      <% } %>
    <% }) %>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </script>

  <script type="text/template" id="object-action-tpl">
    <dl class="dl-horizontal">
    <% _.each(fields, function(field) { %>
      <dt><%= field.title %></dt>
      <dd>
        <%= model[field.name] %>
        <% if (field.identifier) { %>
          <input type="hidden" name="<%= field.name %>" value="<%= model[field.name] %>">
        <% } %>
      </dd>
    <% }) %>
    </dl>
  </script>

  <script type="text/template" id="list-action-tpl">
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th width="30"></th>
          <% _.each(fields, function(f) { %>
            <th data-field="<%= f.name %>"><%= f.title %></th>
          <% }) %>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </script>

  <script type="text/template" id="list-filters-tpl">
    <% _.each(fields, function(f) { %>
      <p>
        <label><%= f.title %></label>
        <input type="<%= f.field_type %>" name="<%= f.name %>" data-type="<%= f.formated_type %>"
          value="<% if (f.field_type == 'checkbox') print('1'); %>">
      </p>
    <% }) %>
    <button class="btn filter">Filter</button>
    <button class="btn reset">Reset</button>
  </script>

  <script type="text/template" id="list-pagination-tpl">
    <div class="pagination">
      <ul>
        <li class="disabled"><a href="#" class="prev">Prev</a></li>
        <% for (var i = 1; i <= nb_pages; i++) { %>
          <li class="<% if (i == 1) print('active'); %>"><a href="#" data-page="<%= i %>"><%= i %></a></li>
        <% } %>
        <li class="<% if (nb_pages == 1) print('disabled'); %>"><a href="#" class="next">Next</a></li>
      </ul>
    </div>
  </script>

  <script type="text/template" id="related-popover-tpl">
    <table class="table">
    <% _.each(data, function(v, k) { %>
      <tr>
        <td><strong><%= k %></strong></td>
        <td><%= v %></td>
      </tr>
    <% }) %>
    </table>
  </script>

  <script type="text/template" id="modal-tpl">
    <div class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3><%= title %></h3>
      </div>
      <div class="modal-body"></div>
    </div>
  </script>

</body>
</html>
