<!doctype html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dashboard</title>
  <script type="text/javascript">
  var CKEDITOR_BASEPATH = '/nucleus/asset/dashboard/vendor/ckeditor/';
  </script>
  {{ assetBag }}
  {{ assetBag.add("/nucleus/asset/dashboard/vendor/bootstrap/css/bootstrap.min.css") }}
  {{ assetBag.add("/nucleus/asset/dashboard/vendor/bootstrap/css/bootstrap-responsive.min.css") }}
  {{ assetBag.add("/nucleus/asset/dashboard/app.css") }}
  {{ assetBag.add("/nucleus/asset/dashboard/vendor/jquery-1.10.1.min.js") }}
  {{ assetBag.add("/nucleus/asset/dashboard/vendor/jqueryui/js/jquery-ui-1.10.3.custom.min.js") }}
  {{ assetBag.add("/nucleus/asset/dashboard/vendor/jqueryui/css/ui-lightness/jquery-ui-1.10.3.custom.min.css") }}
  {{ assetBag.add("/nucleus/asset/dashboard/vendor/jqueryui-timepicker/jquery-ui-timepicker-addon.js") }}
  {{ assetBag.add("/nucleus/asset/dashboard/vendor/jqueryui-timepicker/jquery-ui-timepicker-addon.css") }}
  {{ assetBag.add("/nucleus/asset/dashboard/vendor/json2.js") }}
  {{ assetBag.add("/nucleus/asset/dashboard/vendor/underscore-min.js") }}
  {{ assetBag.add("/nucleus/asset/dashboard/vendor/backbone-min.js") }}
  {{ assetBag.add("/nucleus/asset/dashboard/vendor/bootstrap/js/bootstrap.min.js") }}
  {{ assetBag.add("/nucleus/asset/dashboard/vendor/ckeditor/ckeditor.js") }}
  {{ assetBag.add("/nucleus/asset/dashboard/vendor/ckeditor/lang/en.js") }}
  {{ assetBag.add("/nucleus/asset/dashboard/vendor/ckeditor/adapters/jquery.js") }}
  {{ assetBag.add("/nucleus/asset/dashboard/app.js") }}
  <script type="text/javascript">
    $(function() {
    Dashboard.start({{ result.configuration|json_encode|raw }});
    });
  </script>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <a class="brand" href="#">{{ result.configuration.title }}</a>
    </div>
  </div>

  <div id="submenu" data-spy="affix"></div>

  <div id="main"></div>

  <script type="text/template" id="toolbar-tpl">
    <div class="btn-toolbar">
    <% _.each(groups, function(buttons) { %>
      <div class="btn-group">
      <% _.each(buttons, function(btn) { %>
        <% if (btn.name != current_action) { %>
          <a href="<%= base_url + btn.controller + '/' + btn.name %>" data-controller="<%= btn.controller %>" data-action="<%= btn.name %>"
            <% if (btn.behaviors && btn.behaviors.confirm) print('data-confirm="' + btn.behaviors.confirm.message + '"'); %>
            class="btn <% if (btn.disabled) print('disabled'); %>"><i class="icon-<%= btn.icon %>"></i> <%= btn.title %></a>
        <% } %>
      <% }); %>
      </div>
    <% }) %>
    </div>
  </script>

  <script type="text/template" id="tabs-tpl">
    <div class="tabbable tabs-right">
      <ul class="nav nav-tabs">
        <% _.each(tabs, function(item) { %>
          <li><a href="#tab-<%= item[0] %>" <% if (item[0] != 'default') print('data-related="' + item[0] + '"'); %> data-toggle="tab"><%= item[1] %></a></li>
        <% }) %>
      </ul>
      <div class="tab-content">
        <% _.each(tabs, function(item) { %>
          <div class="tab-pane active" id="tab-<%= item[0] %>"></div>
        <% }) %>
      </div>
    </div>
  </script>

  <script type="text/template" id="table-tpl">
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th width="30"></th>
          <% _.each(fields, function(f) { %>
            <th data-field="<%= f.name %>"><%= f.title %></th>
          <% }) %>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </script>

  <script type="text/template" id="object-action-tpl">
    <dl class="dl-horizontal">
    <% _.each(fields, function(field) { %>
      <dt><%= field.title %></dt>
      <dd>
        <%= model[field.name] %>
        <% if (field.identifier) { %>
          <input type="hidden" name="<%= field.name %>" value="<%= model[field.name] %>">
        <% } %>
      </dd>
    <% }) %>
    </dl>
  </script>

  <script type="text/template" id="list-filters-tpl">
    <% _.each(fields, function(f) { %>
      <p>
        <label><%= f.title %></label>
        <input type="<%= f.field_type %>" name="<%= f.name %>" data-type="<%= f.formated_type %>"
          value="<% if (f.field_type == 'checkbox') print('1'); else if (values[f.name]) print(values[f.name]); %>">
      </p>
    <% }) %>
    <button class="btn filter">Filter</button>
    <button class="btn reset">Reset</button>
  </script>

  <script type="text/template" id="list-pagination-tpl">
    <div class="pagination">
      <ul>
        <li class="<% if (current_page == 1) print('disabled'); %>"><a href="#" class="prev">Prev</a></li>
        <% for (var i = 1; i <= nb_pages; i++) { %>
          <li class="<% if (i == current_page) print('active'); %>"><a href="#" data-page="<%= i %>"><%= i %></a></li>
        <% } %>
        <li class="<% if (current_page == nb_pages) print('disabled'); %>"><a href="#" class="next">Next</a></li>
      </ul>
    </div>
  </script>

  <script type="text/template" id="related-popover-tpl">
    <table class="table">
    <% _.each(data, function(v, k) { %>
      <tr>
        <td><strong><%= k %></strong></td>
        <td><%= v %></td>
      </tr>
    <% }) %>
    </table>
  </script>

  <script type="text/template" id="modal-tpl">
    <div class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3><%= title %></h3>
      </div>
      <div class="modal-body"></div>
    </div>
  </script>

</body>
</html>
